{%extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Test App</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class = "box">
        <h1 class = "title"><center>Grade Form</center></h1>
        <form method="POST" action="/">
            {{form.csrf_token}}
                <h3 class = "container"><center>{{form.class_name.label}} {{form.class_name(size=20)}}</center></h3>
                <h3 class = "container"><center>{{form.current_grade.label}} {{form.current_grade()}}</center></h3>
                <h3 class = "container"><center>{{form.final_weight.label}} {{form.final_weight()}}</center></h3>
                <h3 class = "container"><center>{{form.desired_grade.label}} {{form.desired_grade()}}</center></h3>
            <div class="col text-center">
                <button class="btn btn-info" type="submit">Calculate</button>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>